<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/login.css">
    <title>Login</title>
</head>

<body>
    
        <div id="login">
            <form class="form-login"></form>
                <div class="tckn">
                    <input id="tcknInput" type="text" required><br><br>
                    <label for="tcknInput" class="tcknLabel">Identification Number</label>
                </div>

                <div class="password">
                    <input id="passwordInput" type="password" required><br><br>
                    <label for="passwordInput" class="passwordLabel">Password</label>
                </div>

                <input id="submit" type="submit" value="Login">
            </form>
            <div id="controls"></div>
        </div>
    

    <script type="module" src="../../dist/login.bundle.js"></script>

</body>

</html>